[2018-03-07 08:54] argenos opened #2 "Missing robot skills"
- [ ] `open door` action for opening cupboards [10pts]
- [ ] `open door` action for opening door rooms [8pts]
- [x] `turn to` action [ 4pts] - see #3
- [ ] `follow person`[7pts]
- [ ] `guide person` [10 pts]

[2018-03-07 08:54] argenos opened #3 "Create a "turn to" action"
Create a `turn to` action using an actionlib wrapper with smach.
The robots should be able to turn X amount of degrees.

Inputs can be:
* degrees to turn
* another pose (calculate the difference between the robot and the pose)

[2018-03-07 08:56] argenos commented on #3
@jcmayoral what do you say? I think this one has your name all over it.

[2018-03-07 09:00] argenos opened #4 "Integrating Willlow Garage HRI Sound Library"
Worth 6 points.

Within the scope of this issue, is the creation of the node itself and the integration in a couple (or a few) of our components as an example (obviously, documentation as well). The audio files can be stored in a config folder and the meanings from a config file (pairing meaning to sound file).
A few of the meanings I can foresee are:

- a greeting (correctly initialized, ready to

[2018-03-07 09:04] argenos opened #5 "Updating repository.debs and rosinstall"
Both the migration to kinetic and to GitHub have affected this.

[2018-03-07 09:06] argenos opened #6 "Create a domestic ontology/integrate an existing one"
Worth 10 points.

We need an ontology that at least:

* models semantic object knowledge (e.g. geometric object properties, contexts in which the object could be used, etc.)
* associates geometric points to semantic locations

[2018-03-07 09:07] argenos opened #7 "Integrating ROSPlan to the store groceries scenario"

[2018-03-07 09:11] argenos opened #8 "WIP: Placing unknown objects together"

[2018-03-07 09:12] argenos commented on #8
@alex-mitrevski this was marked WIP, who should I assing?

[2018-03-07 09:13] argenos opened #9 "Execution monitoring"
We need a monitoring concept for our robot and scenarios

[2018-03-07 09:14] argenos commented on #9
@alex-mitrevski @AKuestenmacher should I assign one of you to this?

[2018-03-07 09:16] alex-mitrevski commented on #8
I'm sort of working on this, so I've assigned myself to it.

[2018-03-07 09:18] argenos opened #10 "Semantic object placing"

[2018-03-23 18:14] argenos opened #12 "Load "initial state" from last known robot state in Execution manager"

[2018-04-02 11:13] jcmayoral commented on #3
I will do it

[2018-04-02 11:13] jcmayoral commented on #3
Can you assign it to me?

[2018-04-09 09:27] argenos opened #25 "Navigation in unknown environments"
Test the default `move_base` with the `allow_unknown` parameter set to true.
See [this](http://wiki.ros.org/global_planner#Parameters).

Although outdated due to the migration, here is the wiki page for [mapping](https://github.com/b-it-bots/wiki/wiki/mapping-athome) and [navigation](https://github.com/b-it-bots/wiki/wiki/navigation-athome).

[2018-04-09 09:33] argenos opened #26 "Person recognition"
A good place to start is to take a look at the `detect_person` and `gender_recognition` actions, the task would be to create an action just like these.

We don't necessarily need to use this in the end, but [opencv](https://docs.opencv.org/2.4/modules/contrib/doc/facerec/facerec_tutorial.html) obviously has things for this. Any other interesting approach is also welcome.

[2018-04-09 10:43] argenos commented on #3
Related pull request: #24

[2018-04-09 14:30] argenos opened #27 "Switching path planners on the fly"
For some tasks we want to use a different path planner than our default (e.g. follow person with the carrot planner). The task is to create a node that can receive a `move_base` goal and pass it to a planner of choice. There are a few hints on how to go about it [here](https://answers.ros.org/question/265958/how-to-switch-the-planner-of-move_base-during-the-navigation/).

[2018-04-13 14:52] argenos opened #28 "Semantic mapping"
One example of such thing is [this](https://wiki.qut.edu.au/display/cyphy/Vision-based+Semantic+Mapping)

[2018-05-01 20:14] argenos opened #43 "Add furniture objects to planning scene"
The current version of the code from the pick and place scenario should be refactored and improved.
The unnecessary code in mdr_behaviors should be removed, and whatever is useful should be placed in mdr_manipulation.

[2018-05-01 20:22] argenos opened #44 "Create a find (object) action"
The current action is embedded in the perceive plane action and should be refactored and separated to its own action server.
This should also apply to other objects, for instance, shelves, and counters. It can potentially be even more generalizable, i.e. people.

[2018-05-02 04:10] alex-mitrevski commented on #44
I agree that we need this action, but I don't think we can write it before having a decent knowledge base; without that, finding things will be a shot in the dark.

I'm talking about two types of knowledge here: encyclopedic knowledge (e.g. cups are stored in the kitchen), but also user-specific knowledge (e.g. Alex's cup is usually on the kitchen counter and not in the cupboard).

[2018-05-02 04:16] alex-mitrevski opened #45 "Create an "open door" action"
We need to start implementing a functionality for opening doors; this is for instance useful in conjunction with the finding objects action (#44) that needs to be developed as well.

I suppose we could start simple and focus on opening one type of door (e.g. our lab door) and then scale the complexity by considering other types of door handles (e.g. the lab drawers, cupboards, etc.).

Note: This i

[2018-05-02 06:08] argenos commented on #44
I agree first we need to at least fix #6, then solve this one. I guess for the world model we need to detect and recognize this objects first anyways, which was a bit what I was going for.

[2018-05-11 17:33] argenos opened #47 "Turn the question matcher into an Answer action"
[This node](https://github.com/b-it-bots/mas_domestic_robotics/tree/kinetic/mdr_speech/mdr_question_matching) should be converted to an action server.

[2018-05-11 17:37] #3 closed, assigned to jcmayoral

[2018-05-12 11:20] argenos commented on #12
@alex-mitrevski we can close this one, right?

[2018-05-16 13:10] jcmayoral commented on #4
Hi. I was working on this today. In which folder should I add this functionality mdr_speech? or should I create one called mdr_tools?

[2018-05-17 09:24] argenos commented on #4
Please create the metapackage mdr_hri, and add this package there

[2018-05-18 08:55] gecortesh commented on #26
This is for recognizing i.e. members of the team and say their names or follow?

[2018-05-18 11:18] argenos commented on #26
Yeah, the action after recognizing the person will vary from task to task, but that is indeed the first part of the problem.
The second thing to consider is that we might want to recognize people without associating them with a name, i.e. tracking persons inside the appartment and being able to distinguish between them

[2018-05-18 18:27] argenos commented on #28
@whsu2s can you add a comment here with the things we discussed today as next steps? Thanks!

[2018-05-20 20:57] whsu2s commented on #28
TODO:
* Look for ROS packages that handle semantic mapping.
    - [https://github.com/fdayoub/ros-semantic-mapper](url)
    - [https://github.com/pronobis/rocs-ros](url)
* Understand the packages and how to use it.

[2018-05-21 16:15] alex-mitrevski commented on #26
If someone wants to try out CNNs for this, a Siamese network might be useful. [This](https://www.cs.cmu.edu/~rsalakhu/papers/oneshot1.pdf) is a paper in which the model is described; [here](https://towardsdatascience.com/one-shot-learning-face-recognition-using-siamese-neural-network-a13dcf739e)'s a useful blog post as well.

[2018-05-21 16:34] gecortesh commented on #26
I was thinking of bag of features may be simpler

[2018-05-21 17:15] alex-mitrevski commented on #26
Yeah, it's definitely simpler; I don't know how the accuracies compare though (as the set of people grows).

[2018-06-10 12:21] argenos commented on #26
I'd like to add a few comments here that we might need to consider:
It's important to be able to recognize the *role* as well, e.g. post-man, delivery man, police, etc. so we might want to do something that not only relies on the face of the person but also on their clothing.

[2018-06-11 18:45] alex-mitrevski opened #54 "Saving map poses using spoken commands"
To save predefined poses in a new map, we are currently using the `save_base_map_poses_to_file` script from the [ `mcr_navigation_tools`](https://github.com/b-it-bots/mas_navigation/tree/kinetic/mcr_navigation_tools) package. The process of saving poses using this script is however quite slow and tedious, as we have to drive our robot to the pose and then type in the name of the pose via the comma

[2018-06-13 16:58] jcmayoral commented on #54
It seems interesting. Can I get this?

[2018-07-02 09:23] jcmayoral commented on #2
Are these still available?

[2018-07-02 10:34] argenos commented on #2
Yes, but I'd suggest we first close #49

[2018-07-06 11:19] argenos opened #57 "Sound localization without manyears"
Possible alternatives: https://github.com/uts-magic-lab/hark_sound_localization

[2018-07-06 11:29] argenos opened #58 "Offline speech recognition"
Find an alternative to julius.
Possible alternative: Pocket Sphinx

[2018-07-06 11:32] argenos commented on #47
One big bug is the robot seems to answer every time recognizes something, even if it's not a question.

[2018-07-06 12:40] oarriaga commented on #58
For speech to text offline recognition I have tried the deep speech from mozilla and it worked fairly well; however, some post-processing would be required since it's predicting letters and not by words:

https://github.com/mozilla/DeepSpeech

[2018-07-07 07:49] jcmayoral commented on #2
On the guide person, what should be taken into account?

[2018-07-17 11:26] #12 closed, assigned to alex-mitrevski

[2018-07-31 04:34] moriarty commented on #57
:'( is this for DSPL only?

[2018-07-31 05:18] alex-mitrevski commented on #57
We are not allowed to add additional hardware in DSPL, so yeah, we need to look for alternatives.

[2018-08-03 06:01] alex-mitrevski commented on #54
Resolved with pull request https://github.com/b-it-bots/mas_domestic_robotics/pull/55; closing the issue

[2018-08-03 06:01] #54 closed, assigned to jcmayoral

[2018-08-03 11:54] #4 closed, assigned to jcmayoral

[2018-08-04 07:34] alex-mitrevski commented on #5
This can be closed, right?

[2018-08-04 18:49] moriarty commented on #5
;) it’s almost time to open one for 18.04 and Melodic

[2018-08-04 19:15] alex-mitrevski commented on #5
I think that's unlikely to happen soon. We've only recently installed 16.04/Kinetic on Jenny and we need that setup for other projects as well.

I do want to start experimenting with Melodic on my machine though.

[2018-08-04 19:23] argenos commented on #5
I’m thinking about this with the docker images already, hopefully we can set it up and use Travis already to tell us where efforts will be required.

Since migrations require time I’d say we can maybe think about it for next year, during the semester break.

@alex-mitrevski not yet, need to update the rosinstall file before closing it

[2018-08-06 12:22] #5 closed, assigned to argenos

[2018-08-13 10:18] jcmayoral commented on #27
Hi.  I  thinkg it also makes sense to give a try to the move_base_flex (https://github.com/magazino/move_base_flex), since it also provides already a functionality to select the planners.

[2018-08-13 10:26] jcmayoral commented on #58
I found this... I do not know if somebody has already experience with it https://github.com/cmusphinx/ros-pocketsphinx/tree/kinetic-devel

[2018-08-13 12:28] alex-mitrevski commented on #58
Yeah, I think Patrick has already tried using pocketsphinx.

[2018-08-13 12:33] argenos commented on #58
I've assigned @PatrickNa to mark it as "in progress", is there something we can start checking out as a pull request?

[2018-08-13 14:33] PatrickNa commented on #58
I've implemented Pocketsphinx and tested it on my laptop. The results were pretty bad and nothing comparable to what we have seen in Magdeburg last time. Nevertheless I will refactor the code and test it on the Robot. Probably in the end of the week I can make a solid pull request.

[2018-08-13 14:42] PatrickNa commented on #58
@robertocaiwu and I were already discussing on how to improve the model of pocketsphinx... However it was more brainstorming rather than concrete actions. We will intensify it in the next couple of weeks since it also effects RoboLand.

[2018-08-13 15:16] argenos commented on #27
Can they be switched online?

[2018-08-13 15:30] jcmayoral commented on #27
Yes. But it might require additional changes on the navigation actions. However, I guess it is smarter to provide the functionality on the move_base from now. I will do both, on some point.

But one question, to change the planners online, what is required? A GUI? a service? a profile-based?

[2018-08-16 07:47] jcmayoral opened #62 "mdr_2dnav launch files not working"
The launch files from the mdr_2dnav are not working. 2dnav.launch has some keys missing and the substitution $(find $(arg robot_pkg)) is not working and triggers an error (perhaps migration issues).

[2018-08-16 08:14] alex-mitrevski commented on #62
I've just pushed fixes for this on `devel`.

[2018-08-16 08:16] jcmayoral commented on #62
oh ok sorry

[2018-08-16 08:16] #62 closed, assigned to nobody

[2018-08-25 15:43] minhnh opened #66 "add requirements.txt to Python packages"
I propose adding `requirements.txt` to Python packages to handle Python dependencies. This will make maintaining dependencies modular to each package, which is easier than maintaining for the whole repository. We can start adding this to new packages and any packages with open pull requests.

[2018-08-25 16:26] argenos commented on #66
What would be an example of a package with python dependencies that cannot be resolved with rosdep?

My other concern would be that we would need a script to loop through all *.txt files for the CI if we do this package-wise.

[2018-08-27 13:35] minhnh commented on #66
I don't think `pip` packages are all managed by `rosdep`. Some examples are `h5py`, `tf`, `keras`, and `pydmps` which I ran into the other day with the `move_arm` action.

Edit: I guess you can actually [specify system packages directly](http://docs.ros.org/jade/api/catkin/html/howto/format2/python_module_dependencies.html) so this is a no issue.
Edit 2: Actually system packages don't always inclu

[2018-08-27 14:45] minhnh commented on #44
So recently the object detection code is rewritten as an action server in this [PR](https://github.com/b-it-bots/mas_perception/pull/3). Does that more or less solve this issue, or do you have some other thing in mind for the action?

[2018-08-27 14:49] alex-mitrevski commented on #44
This is not an action about pure perception, but also requires a knowledge base (where things are likely to be stored so that we don't search blindly) and a recovery/exploration strategy in case the item is not found immediately.

PR https://github.com/b-it-bots/mas_domestic_robotics/pull/63 is an early-stage WIP for creating this knowledge base for the record.

[2018-08-27 15:07] minhnh commented on #26
How's the progress on this? With Single Shot Multibox, detecting people seems to be quite reliable. As for classifying roles, genders, and emotions, I think we can use the same `ImageRecognition` state currently used in `perceive_plane_action`. The image recognition service that the action interacts with takes a model name in its request. We can specify which model to use here.

[2018-08-27 15:11] alex-mitrevski commented on #26
Detection is not the only thing here though; it's important to recognise the actual person as well (so learning from one/only a few examples is needed).

[2018-08-27 15:11] argenos commented on #26
I think it was probably abandoned. Feel free to open a pull request if you’re interested!

[2018-08-27 15:27] minhnh commented on #26
@alex-mitrevski can't we do a binary classifier trained on a single pic of one person?
@argenos yeah I'll start putting something together for this.

[2018-08-27 15:32] alex-mitrevski commented on #26
I suppose we could use something like the examplar SVMs described [here](https://www.cs.cmu.edu/~efros/exemplarsvm-iccv11.pdf) (in this case, they're used for detection, but we could use the same idea for recognition) - or the Siamese networks I suggested above.

[2018-08-30 13:39] argenos commented on #66
I think rosdep actually supports pip. From their [documentation](http://docs.ros.org/independent/api/rosdep/html/commands.html#options):

[code]

We should obviously test this, are you up for it?

[2018-08-30 14:32] minhnh commented on #66
yeah I can look into it

[2018-09-01 20:11] jcmayoral commented on #27
I think it makes sense to add this feature on mas_navigation repository https://github.com/b-it-bots/mas_navigation/pull/6

[2018-09-01 20:30] alex-mitrevski commented on #27
I agree, this is a general navigation functionality that belongs in `mas_navigation`.

[2018-09-03 04:43] alex-mitrevski commented on #8
This is done [here](https://github.com/b-it-bots/action-execution) - provided that the object recogniser can figure out that an object is unknown. I'll anyway close the issue.

[2018-09-03 04:43] #8 closed, assigned to alex-mitrevski

[2018-09-11 20:40] argenos opened #70 "Travis build doesn't consider new dependencies added to rosinstall file"

[2018-09-30 10:11] sthoduka commented on #47
is this still an open issue? or is [this node](https://github.com/b-it-bots/mas_domestic_robotics/tree/kinetic/mdr_planning/mdr_actions/mdr_speech_actions/mdr_answer_action) a replacement?

[2018-09-30 12:37] argenos commented on #47
I think it’s still open, we never got to integrate the two properly

[2018-10-05 09:06] argenos opened #71 "Adding NLP interfaces"
- [x] adding the required launch files in mas_domestic

[2018-10-12 18:40] alex-mitrevski opened #73 "Continuous scene perception for accurate world modelling"
In the current implementation of our `perceive_plane` action, we store the poses of the detected objects with respect to the `base_link` frame in the world model, but we don't update them afterwards. This leads to a problem when the robot moves since the objects' poses are not valid anymore - unless we also keep track of the robot's motion. We could alternatively store the poses with respect to a

[2018-10-15 07:15] argenos commented on #73
This might be interesting to explore: https://github.com/SteveMacenski/spatio_temporal_voxel_layer

[2018-10-16 11:40] PatrickNa opened #74 "Store speech relevant information in an ontology."
Store questions, answers, commands etc. in a database rather than in text files.

## Context

A database would provide a more central and structured environment for storing questions and answers.

## Expected Behavior

The speech packages (nodes) and actions would both refer to the same database rather than load the questions, answers, commands etc. from text files. Further, a database would allow

[2018-10-16 12:11] argenos commented on #74
In my opinion, these are things that should be either stored in the knowledge base or the ontology (see #6). I don't think we should be storing this in a different database and wouldn't really devote time to this until the KB + ontology is done, and while we have the text files.

[2018-10-16 12:12] argenos commented on #74
@alex-mitrevski may have something to add to this

[2018-10-16 12:14] PatrickNa commented on #74
As long as it is a database where we can maintain this information I'm fine with it. I did not know that there is something already. I would still leave this issue open until we have integrated a database usage into our speech packages.

[2018-10-20 18:48] PatrickNa commented on #58
I would say this can be closed or at least rephrased. We have offline speech recognition now, but it can be further improved.

[2018-10-20 19:50] argenos commented on #58
@PatrickNa which pull request added it? Can you mention it here to document it? Otherwise I would keep it open until we have the code available

[2018-10-20 20:40] PatrickNa commented on #58
Offline speech recognition is possible since bd730722c9e958deaed6c54247609ba60f7ccf3c (pull request 72).
Specifically: PocketSphinx is used when no internet connection is available. Have a look at
mas_domestic_robotics/mdr_speech/mdr_speech_recognition/ros/scripts/speech_recognizer for further details.

[2018-10-20 20:47] argenos commented on #58
Good, we can close it. Not sure if I missed the documentation on how to setup pocketsphinx? I think we could open a new issue for that.

[2018-10-20 20:47] #58 closed, assigned to PatrickNa

[2018-10-20 20:49] PatrickNa commented on #58
Yes, we should continue open issues regarding speech.

[2018-10-20 21:12] PatrickNa opened #76 "Implement "Double Metaphone" along with already implemented phonetic algorithms."
"Double Metaphone" is another phonetic algorithm that can be used for speech matching. The idea of implementing another phonetic algorithm along with Levenshtein Distance is to have a counter check on the results.

## Context

After transforming the vocal input into text it needs to be analyzed further. Concretely this means, that it has to be compared to the known sentences in the database of the

[2018-10-20 21:15] PatrickNa opened #77 "Implement "Soundex" along with already implemented phonetic algorithms."
"Soundex" is another phonetic algorithm that can be used for speech matching. The idea of implementing another phonetic algorithm along with Levenshtein Distance is to have a counter check on the results.

## Context

After transforming the vocal input into text it needs to be analyzed further. Concretely this means, that it has to be compared to the known sentences in the database of the robot. T

[2018-10-20 21:28] PatrickNa opened #78 "Implement Kaldi as an additional offline speech recognition tool."
So far only PocketSphinx is used for offline speech recognition. The model of this tool is ok, but not sufficient for our use cases. Rather than creating an own model, another speech recognition tool and its model, are suppose to help out. The tool is Kaldi and has shown promising results in the RnD project of @robertocaiwu.

## Expected Behavior

Both PocketSphinx and Kaldi are suppose to analyze

[2018-10-21 06:59] alex-mitrevski commented on #78
If we have multiple models, how are we going to decide which one gives a "better" result? Given an unknown sentence, this seems like a very difficult task. I suppose we could somehow check the recognised sentences from both models against an ontology, see if they make sense, and then take the one that matches the ontology more, but then what if they both make sense from that point of view?

Wouldn

[2018-10-21 07:06] PatrickNa commented on #78
Exactly, the check against the ontology is suppose to decide which approach gave us the better result. At the moment I cannot imagine that both will provide two completely different, but valid sentences. However if this would be the case we still have the distances (likelihoods). For the case that both would be the same we would chose one randomly or prefer on approach over the other.

And yes you

[2018-10-21 08:25] PatrickNa commented on #71
Does this issue include the integration of NLP into our speech recognition solution? If not then maybe we could open another issue for that?

[2018-10-21 08:26] PatrickNa commented on #47
Since the pull request is through, I guess we could also close this one?

[2018-10-21 08:28] PatrickNa commented on #66
What is the status on this? I think this could be a possible solution for the installation of all speech relevant modules (e.g. PocketSphinx).

[2018-10-21 09:07] argenos commented on #66
We need to try it out. Can you add the dependencies to the package.xml? I still believe the right way to do this is using rosdep

[2018-10-21 09:09] argenos commented on #47
Yeah, go ahead, just mention your pull request here please

[2018-10-21 09:15] argenos commented on #71
Yeah, this issue is basically for that. On the todos for @ErickKramer there’s still:
- making the appropriate changes in the nlu fork, specially limiting the dependencies installed on the robot and documenting the resources that need to be added and how to get them
- subscribing to the right speech topic (we were using recognized_speech in the lab)
- adding the required launch files in mas_domesti

[2018-10-21 10:24] PatrickNa commented on #71
I think the topic will remain the same. In case you have not taken care of this already, we will need to check what else needs to be adjusted in order to get the NLP component to work correctly.

[2018-10-21 10:25] argenos commented on #71
Is that the same for the questions and the commands?

[2018-10-21 10:35] PatrickNa commented on #71
For questions it is taken care of... but when is a command a command in order to forward it to NLP? We have to think of how to categorize this correctly. Are we going to maintain all command possibilities in the ontology, e.g. "go to kitchen", "go to living room", "go to bathroom" etc. or do we just reduce the threshold for this category, so that the "go to" will already be enough to mark it as a

[2018-10-21 10:40] argenos commented on #71
I think we need to check for typical ways in which questions are asked, e.g. what, where, which, etc.
we can take a look at previous years for existing questions and come up with a strategy.
Then we could address this the other way around, anything that is not in the ontology and answerable as a question, we deal with as a command.

But I guess in the end what matters for now is not really how we

[2018-10-21 10:58] PatrickNa commented on #71
We made our thoughts about that... We are publishing everything that is recognized as speech to `speech_recognizer` (name might have been changed by now) and this is subscribed by the `speech_matching` node that analyzes it further and publishes its result in the following format ["category", "message", "distance"] to the `speech_matcher` topic.

[2018-10-21 10:59] PatrickNa commented on #71
mdr_speech_recognition>mdr_speech_matching>[mdr_question_answering, NLP?]

[2018-10-21 11:11] argenos commented on #71
I think that the processing should be done before reaching the answering or the nlp topic.  Both of them only care about the string they have to process, not the category or the distance.

Architecturally, a component can make requests to the nlp module and the answer action server, and decide whether to send it to the right topic or make a request with the next best option. Which I think is part

[2018-10-21 12:21] PatrickNa commented on #71
This was the original idea, but rather than making a publisher for each category we need only one. Otherwise we would have two +x (for every possible future category).

[2018-10-21 22:18] ErickKramer commented on #71
Perhaps, we could try to catch whether the sentence interpreted by the speech recognition is a question or a command. This could be done by looking for the Wh words and/or the symbol "?". And depending on the result of this, the sentence could be either send to the NLU (mbot) or to the module getting the answer from the ontology.

If I am not mistaken, the GPSR command generator will always add th

[2018-10-22 06:07] PatrickNa commented on #71
We check whether it is a question or a command, but don't differentiate the receiver of this information. Rather the NLU has to check if "msg.type == command then do something otherwise ignore".

Regarding your thoughts about recognizing questions, keep in mind that there are questions without the W's and also you don't get punctuation from our speech recognition modules. However we have a solutio

[2018-10-22 07:48] ErickKramer commented on #71
Yeah, I'd be glad to take a look into that. I also found the answer to your question about expanding the knowledge of the model. I'll show it to you on friday as well.

[2018-10-22 09:19] argenos commented on #71
I disagree, NLU expects a command, the processing of whether is a command or not should be done beforehand, most likely in the speech matcher.

You are right about the questions, going over details during Friday’s meeting sounds good to me!

[2018-10-22 16:34] argenos commented on #71
I disagree, NLU expects a command, the processing of whether is a command or not should be done beforehand, most likely in the speech matcher.

You are right about the questions, going over details during Friday’s meeting sounds good to me!

[2018-10-24 07:31] PatrickNa commented on #77
It turns out that "Double Metaphone" (#76) is an improved version of Soundex and therefore Soundex is obsolete and does not need to be implemented.

[2018-10-24 07:31] #77 closed, assigned to argenos, PatrickNa, robertocaiwu

[2018-10-24 07:46] PatrickNa opened #79 "Implement a weather API for the question "how is the weather"."
The answer for the question "how is the weather" (or a modification of this question) should not be hard-coded. The information about how the weather is or how it is going to be, can be taken from a weather API.

## Context

Hard-coding the weather information is sufficient for demos, but it is not feasible for the long term. Since methods for getting the weather information exist, they also shoul

[2018-10-26 14:27] rameshjes commented on #79
Is it possible to use [Rasa framework](https://github.com/RasaHQ/) or you are looking for another method? I have bit experience with Rasa. It provides built-in functionalities for voice assistant and its reliable too.

[2018-10-26 18:27] PatrickNa commented on #79
@rameshjesswani How would you use this framework to answer the question about the weather?

[2018-10-26 18:39] PatrickNa commented on #79
@henrikschnor Eventually you will find some good references here: https://www.programmableweb.com/news/top-10-weather-apis/analysis/2014/11/13

[2018-10-27 09:48] rameshjes commented on #79
@PatrickNa  actually rasa provides functionality to find the intents and entities from the sentence. And based on predicted intent, we can write the custom actions to get the data from weather api. Here is simple example: [rasa-weather-chatbot](https://medium.com/coinmonks/rasa-python-weather-chatbot-51fc218d346d)

[2018-10-27 10:05] PatrickNa commented on #79
@rameshjesswani Thanks for the example! I guess it is also interesting for @ErickKramer and @argenos , since they are working on a NLP related research project and are about to implement such a solution for the @home team, too. I see a general interest from your side regarding this project? Would you like to join an @home meeting to eventually discuss this topic further?

[2018-10-27 10:08] rameshjes commented on #79
@PatrickNa yes sure I can join on next meeting and we can discuss more about this :)

[2018-10-27 11:45] argenos commented on #79
@ErickKramer I think it's rasa-nlu is something definitely worth looking into

[2018-10-27 11:55] alex-mitrevski opened #80 "Implement grasp verification in the pickup action"

[2018-10-27 12:01] alex-mitrevski commented on #80
I've just added the infrastructure for grasp verification to the action, such that the outcome of the action now depends on the verification.

For a specific robot, the functionality for verifying grasps should be implemented in the gripper controller class that derives from `mdr_gripper_controller`'s base controller. I've added two new methods to the base class for that purpose (`init_grasp_verif

[2018-10-27 12:01] #80 closed, assigned to alex-mitrevski

[2018-10-27 21:16] alex-mitrevski opened #81 "Semantic/area-based navigation"
With our current grid-based navigation, we have no way of expressing any semantic information about the locations (e.g. we cannot send our robots go to the kitchen because we don't know where the kitchen is). This issue should be addressed as soon as possible so that we can perform purposeful navigation.

For a start, I suggest we start using a simple topological representation that allows us to e

[2018-10-27 21:25] argenos commented on #81
I already have some code for this, so I'll make a pull request once I've dug it out and cleaned it up a bit

[2018-11-06 06:42] alex-mitrevski commented on #26
The model described [here](https://arxiv.org/pdf/1503.03832.pdf) seems to be very appropriate; trying that one out is the most reasonable thing to do (there is an existing implementation [here](https://github.com/davidsandberg/facenet)).

[2018-11-06 12:26] oarriaga commented on #26
I believe there was a person at HBRS computer science working on this subject. As far as I can remember he simply used a pre-train network (e.g. VGG16) took the output of a resized image of the face and compared it  against each sample of a set of saved face features using cosine similarity. You can extend this by using data augmentation of the sampled image to obtain a more robust description.

[2018-11-06 13:39] PatrickNa opened #83 "Question classification and method allocation."
The issue is opened, because different methods to approach questions are in discussion. Thus it needs to be specified which methods are most suitable for a given type of question. For example the questions from RoboCup are matched to a certain answer, which can be hard-coded. On the other hand questions with dynamic answers exist.

## Context

The implemented speech solution focuses on string matc

[2018-11-06 13:40] PatrickNa commented on #83
@rameshjesswani

[2018-11-06 14:33] argenos commented on #71
@ErickKramer I have updated the description of this issue, and opened https://github.com/b-it-bots/mbot_natural_language_processing/issues/1 for you

[2018-11-06 15:43] PatrickNa opened #84 "ROS Wrapper for Rasa NLU."
In order to integrate the chat bot functionality of Rasa into our robot, we need an interface for ROS.

## Context

We want to implement an NLU approach and focus on the work of Rasa. Since the focus of this library is on chat bots, we need to provide a wrapper for ROS.

## Expected Behavior

Rasa can be used within our existing speech code.

## Steps to Reproduce - Those are general suggestions,

[2018-11-06 15:46] PatrickNa commented on #83
I opened this issue to discuss the information flow and the architecture for our speech component. However I would also like to start developing in parallel. Therefore I opened issue  #84, which is a prerequisite for implementing Rasa.

[2018-11-09 09:10] rameshjes commented on #84
I have created diagram that gives overview of rasa and its functionality. We can use trained model by sending http request to the model as shown here [HTTP API](https://rasa.com/docs/core/server/)

![rasa_overview](https://user-images.githubusercontent.com/25647309/48253352-5bbfca80-e407-11e8-82a4-a0a0ee88715c.jpg)

[2018-11-09 10:16] PatrickNa commented on #84
Great! That means that the ROS wrapper can be easily created. Looking forward to the meeting today!

[2018-11-22 13:15] alex-mitrevski opened #86 "Knowledge base query interface"
In order to avoid code repetition, we need a query interface for the ROSPlan knowledge base and the message store; this would probably go in the `mdr_rosplan_interface` package.

[2018-11-29 15:33] PatrickNa opened #89 "Update the README file of the mdr_speech package."
After changing the mdr_speech package in its core, the content of the README file has been removed.
Once the new speech approach is fully integrated the README file needs to be renewed.

[2018-12-03 21:14] alex-mitrevski commented on #79
This was addressed by pull request https://github.com/b-it-bots/mas_domestic_robotics/pull/82, so I'm closing the issue.

[2018-12-03 21:14] #79 closed, assigned to PatrickNa, henrikschnor

[2018-12-07 12:58] argenos opened #91 "Perceive plane action"
The action should fail if it doesn't find a plane

[2018-12-23 18:44] alex-mitrevski commented on #6
The groundwork for this has been laid with PR https://github.com/b-it-bots/mas_domestic_robotics/pull/63; the integration of the ontology with the rest of the code base is ongoing work, but the issue doesn't need to remain open at this point.

[2018-12-23 18:44] #6 closed, assigned to alex-mitrevski

[2018-12-23 18:52] alex-mitrevski commented on #10
The functionality for semantic object placing is implemented in the [`action-execution`](https://github.com/b-it-bots/action-execution/tree/master/action_execution) repository.

In particular, there we have a definition of a so-called [`sort-release` action](https://github.com/b-it-bots/action-execution/blob/master/action_execution/ontology/actions/sort_release.yaml). The execution model for the a

[2018-12-23 18:52] #10 closed, assigned to alex-mitrevski

[2018-12-24 12:49] alex-mitrevski commented on #86
This interface has been added with commit https://github.com/b-it-bots/mas_domestic_robotics/commit/5574e434dfbf3deb559e742c6cb4c80ddfba9e58, so I'll close the issue.

The added interface is not in `mdr_rosplan_interface`, but in the `mdr_knowledge_base` package and is split into two scripts:
* `knowledge_base_interface.py`, which contains common functionalities for interacting with the knowledge

[2018-12-24 12:49] #86 closed, assigned to alex-mitrevski

[2018-12-25 23:43] alex-mitrevski commented on #6
Just for the record, I've moved the ontology and the query interface (as well as the knowledge base interface discussed in issue https://github.com/b-it-bots/mas_domestic_robotics/issues/86) to a new repository: https://github.com/b-it-bots/mas_knowledge_base

There are two main reasons for this:
* This is already a relatively large piece of code and is better of independent since it could also be

[2018-12-28 21:47] alex-mitrevski commented on #44
Now that the basic implementation of the ontology and the knowledge base interface is set up (https://github.com/b-it-bots/mas_knowledge_base), I finally have an initial draft of the action: https://github.com/b-it-bots/mas_domestic_robotics/tree/devel/mdr_planning/mdr_actions/mdr_perception_actions/mdr_find_object_action

The definition of the action allows finding either a specific object or an

[2019-02-08 17:54] alex-mitrevski opened #95 "Document the knowledge base changes in the action READMEs"
Right now, the documentation of the actions doesn't include any information about what changes are made to the knowledge base before/after the execution (if any). This should be included in the README files so that it's easier to synchronise the planning domains with the action implementations.

[2019-02-14 09:56] minhnh commented on #44
possibly related paper and the project it belongs to
* [Kloss et al 2016, Learning where to search using visual attention](https://ieeexplore.ieee.org/document/7759770)
* [Modeling Top-Down Saliency for Visual Object Search](https://am.is.tuebingen.mpg.de/research_projects/modeling-top-down-saliency-for-visual-object-search)

[2019-02-15 14:41] minhnh opened #97 "parametrize the recognition state in perceive plane action"
* sometimes we want to only detect and grasp any objects, so classifying (recognizing) is not wanted
* add launch or action goal parameter (preferred) to allow control of this behavior
* related to #91

[2019-02-15 14:52] minhnh commented on #2
I would suggest break this down into issues/projects and manage it with project boards

[2019-02-15 16:11] minhnh opened #98 "generate templates for action servers and clients"
possible extensions to automatically generating other templates

[2019-02-15 21:50] argenos commented on #2
I will close this since these are not necessarily relevant anymore. The relevant skills need their own new issues.

[2019-02-15 21:50] #2 closed, assigned to nobody

[2019-02-15 21:55] #27 closed, assigned to nobody

[2019-02-22 14:40] argenos opened #99 "Integrating the dmp code into mas_domestic or mas_manipulation"

[2019-02-22 14:48] argenos opened #100 "DMPs for top-down motions"

[2019-03-04 21:46] PatrickNa opened #102 "Implement a Noise Cancelling Solution."
This is a must have for the speech component. During the competition it will be noisy, therefore we need to have a solution to still be able to recognize the speech.

## Context
A pre-process for the speech component.

## Expected Behavior
The microphone input is filtered.

## Actual Behavior
Microphone input is only "filtered" by python speech recognition, but this is not very efficient.

[2019-03-04 21:52] PatrickNa opened #103 "Implement Rasa Core."
Rasa Core is foreseen for the processing of conversation. It needs to be implemented into the ROS architecture.

## Context
This component is essential for speech. It is suppose to allow conversation between the robot and humans and is considered as the central unit for managing the verbal and contextual information.

## Expected Behavior
Based on a conversation, certain actions need to be carried

[2019-03-04 22:04] PatrickNa opened #104 "Establish a Strategy for Learning new Objects."
In general everybody knows how to train a new model for objects. However it is time to work out and automate this process. This includes the taking of pictures, labeling etc.

## Context
Object recognition is important in a lot of tasks. For example storing groceries.
Since the current object recognition model is limited, it is important to come up with a new one, so that scenarios can be properly

[2019-03-04 22:17] PatrickNa opened #105 "Define Scenario "Find My Mates"."
We have prepared the scenario storing groceries already. Now it is time to proceed with the next task and set it up in parallel. The scenario suggested in this issue is the "Find My Mate" scenario.

## Context
The "Find My Mate" scenario is described in the newest rule book of the RoboCup competition (2019).

## Expected Behavior
Similar to storing groceries a scenario in mdr_robocup_tasks needs t

[2019-03-05 08:31] PatrickNa opened #106 "Define Scenario "Serving Drinks"."
We have prepared the scenario storing groceries already. Now it is time to proceed with the next task and set it up in parallel. The scenario suggested in this issue is the "Serving Drinks" scenario.

## Context
The "Serving Drinks" scenario is described in the newest rule book of the RoboCup competition (2019).

## Expected Behavior
Similar to storing groceries a scenario in mdr_robocup_tasks nee

[2019-03-05 08:32] PatrickNa opened #107 "Define Scenario "Bring out the garbage"."
We have prepared the scenario storing groceries already. Now it is time to proceed with the next task and set it up in parallel. The scenario suggested in this issue is the "Bring out the garbage" scenario.

## Context
The "Bring out the garbage" scenario is described in the newest rule book of the RoboCup competition (2019).

## Expected Behavior
Similar to storing groceries a scenario in mdr_rob

[2019-03-05 08:33] PatrickNa opened #108 "Define Scenario "Farewell"."
We have prepared the scenario storing groceries already. Now it is time to proceed with the next task and set it up in parallel. The scenario suggested in this issue is the "Farewell" scenario.

## Context
The "Farewell" scenario is described in the newest rule book of the RoboCup competition (2019).

## Expected Behavior
Similar to storing groceries a scenario in mdr_robocup_tasks needs to be def

[2019-03-05 11:05] henrikschnor commented on #102
I have a few pending changes for mdr_speech_recognition locally, where I got RNNoise (https://people.xiph.org/~jm/demo/rnnoise/) working. I tried combinations of this together with the voice activation detection algorithm from webrtc to improve reliability of speech input. It seems to be working quite well, however I could not test it properly yet and there are still a few things that need to be f

[2019-03-05 11:32] henrikschnor opened #109 "Serving Drinks Scenario"
This is kind of a meta issue for the "Serving Drinks" scenario of RoboCup 2019 to keep track of what needs to be done. I will open more issues for every point listed below.

In "Serving Drinks" the robot has to find all party guests without a drink, take orders and deliver the drinks.

### Things to clarify

1. Decide how to deliver drinks: The robot can either hand over drinks or deliver them wit

[2019-03-05 11:35] henrikschnor commented on #106
Is this issue specifically for creating the scenario setup and the state machine? If not, could we edit this one? I created another issue about serving drinks (see above) where I added some of my thoughts.

[2019-03-05 13:09] PatrickNa commented on #106
Yes. It is specific for creating the scenario setup and the state machine.

[2019-03-05 13:40] robertocaiwu opened #110 "Take out the garbage"
This issue is created to keep track of the progress towards completing the _Take out the garbage_ task.

## Main goal

The robot takes out the trash bags from the two bins in the apartment and move them into a specified collection zone.

### To do list:

- [x] Create a state machine for the execution_manager [#107]
- [ ] Component to turn head to a certain point [#111]
- Perception
    - [ ] Recog

[2019-03-05 15:40] robertocaiwu opened #111 "Create a new LookAtAction"
We need a new skill to move/turn the head towards a specific point in order to perceive.

# Context

This component is needed for the _Take out the garbage_ [see #110] task in order to find the trash bins located on the arena.

[2019-03-05 16:11] robertocaiwu opened #112 "Recognize if object is a bin"
We need to recognize if an object in Lucy's field of view is a bin or not.

# Context

This is needed for the _Take out the garbage_ [see #110] task. We need to be able to tell apart if the object is a bin or not so we can proceed with the task.

[2019-03-05 16:12] robertocaiwu commented on #107
You can assign this issue to me.

[2019-03-05 16:28] robertocaiwu opened #113 "Recognize if there is a lid on the trash bin"
Ideally, we should be able to recognize if there is a lid on the trash bin so Lucy can remove it by itself.

# Context

In case we want to score the extra points for removing a lid from the bin, we would need to first recognize if there is a lid on top of the bin. This is not a _requirement_ for the task, but desirable for the  _Take out the garbage_ [see #110] task.

[2019-03-05 16:44] robertocaiwu opened #114 "Recognize the trash bag inside the bin"
We need to recognize the trash bag inside the bin so that Lucy can pick it.

# Context

This is needed for the  _Take out the garbage_ [see #110] task. Once the bin has been detected, we need to recognize the trash bag in order to pick it. The rulebook specifies that the trash bag is of a different color than the bin, so it should be possible to achieve this.

[2019-03-05 17:02] robertocaiwu opened #115 "Dectect where to grasp the trash bag from"
Ideally, the robot should pick the trash bag from a specific part so that we can decrease the probability of damaging or tearing the trash bag.

# Context

For the _Take out the garbage_ [#110] task, the rulebook states that tearing the bag will result in a score reduction of 50 point for each bag. Having a way to detect the ideal place from were to grasp the trash bag should decrease the chance o

[2019-03-05 17:16] minhnh commented on #91
@alex-mitrevski isn't this handled already?

[2019-03-05 17:20] minhnh commented on #111
I would rename this to a skill which configures the whole robot to look at a point of interest, i.e. a `LookAtAction`. This skill may include:
* turn the head to an appropriate angle
* raise or lower the head to an appropriate height
* move the arm out of the way of the cameras

After the above operations, the skill can be included in a larger skill or extended to handle #44, which would also invo

[2019-03-05 18:01] minhnh commented on #104
Currently, we use the Single-Shot Multibox Detector algorithm for object detection, which in general requires the following steps for training a new model (@ErickKramer please add anything I missed):
* Collect and label data: for each image, ground truth annotations of objects are needed
* Training: we need a common train script developed for the different detection models, right now only the one

[2019-03-05 19:07] minhnh commented on #99
@alex-mitrevski isn't this integrated already?

[2019-03-05 20:40] alex-mitrevski commented on #99
Yeah, it is in the `move_arm` action. I'll thus close the issue.

[2019-03-05 20:40] #99 closed, assigned to minhnh

[2019-03-05 21:24] minhnh commented on #99
Could you also reference the related PR, commit, if any exist?

[2019-03-06 05:22] alex-mitrevski commented on #99
https://github.com/b-it-bots/mas_domestic_robotics/pull/59

[2019-03-06 13:16] argenos opened #116 "Student projects for SDP"
For next semester, it would be good if we can have some projects to propose to the SDP students. The projects should preferably
* have a "starting point", e.g. some existing code, a tutorial, some old package that you found somewhere else
* have a longer scope than SDP

If you have any ideas that you think would fit, please open an issue for it, and add the link as a comment here.

[2019-03-06 13:16] argenos commented on #116
cc @sthoduka

[2019-03-06 13:17] argenos commented on #116
@rhasel4s once you open the issue with the planning actions, please link it here.

[2019-03-06 13:40] minhnh commented on #116
Depending on what's done in Koblenz, extension and improvement of b-it-bots/mas_perception#31 may be a fitting task.

[2019-03-07 12:06] henrikschnor commented on #106
There is a bonus reward available for this task:

To do this, we need to go to the bar and observe it for available drinks before we take orders. Since we already have code for this, I'd say we try to do this (there is no penalty if we fail).

[2019-03-07 17:53] henrikschnor opened #117 "mdr_listen_action fails to build"
The error message is as follows:
[code]

It seems like the folder `common` is missing. @PatrickNa could you look into this?

[2019-03-09 07:26] alex-mitrevski commented on #100
@abhishek098 We're having various reliability issues when we execute top-down DMPs (in some cases, joint limits are reached and the arm simply starts moving before reaching the goal, but oscillations are a more common problem, such that the arm tries goes up and down and often misses the goal).

We should look at this next week.

[2019-03-09 09:33] minhnh commented on #100
As a reminder, we had queries about the choice of the forward gain and the equation of your controller for calculating velocities.

[2019-03-09 11:40] henrikschnor opened #122 "Travis builds fail"
Travis builds for mas_domestic_robotics fail for every opened pull request because some dependency fails to build.

[2019-03-09 11:54] moriarty commented on #122
https://travis-ci.org/b-it-bots/mas_domestic_robotics/builds/503674866#L1610

[code]

[2019-03-09 12:41] henrikschnor commented on #122
Issue #117 needs to be fixed and #123 merged. With those changes the Docker container builds fine for me.

[2019-03-10 10:01] PatrickNa commented on #117
I could not really reproduce this error... Does it still appear after you fixed issue #122?

[2019-03-10 10:46] PatrickNa commented on #105
See #120 for the progress regarding this issue.

[2019-03-10 16:46] alex-mitrevski commented on #117
I also can't reproduce the error, but since the package doesn't seem to have a `common` directory, it makes sense to update the `setup.py` so that it doesn't try to set up a non-existing package.

[2019-03-10 17:26] alex-mitrevski commented on #116
This could be a small, but useful project: https://github.com/b-it-bots/mas_execution_manager/issues/9

[2019-03-11 17:05] minhnh commented on #26
I recently noticed in the PR list of @oarriaga 's `face_classification` repo a recommendation to use `dlib` instead of OpenCV for face detection which sounds interesting: oarriaga/face_classification#25.

Additionally, I believe the classification models trained by Octavio can be loaded into [`ImageRecognitionServer`](https://github.com/b-it-bots/mas_perception/blob/devel/mas_perception_libs/docs/

[2019-03-11 22:54] henrikschnor commented on #117
To reproduce the error, build the packages with Docker, just as Travis does:
[code]
This takes some time but eventually it will (still) fail with the error I posted above.

The code expects some messages to be in `mdr_listen_action.msg`, while `mdr_listen_action` points to the nonexistent `common` directory. I'm not sure where the automatically generate message files from `Listen.action` go, but i

[2019-03-12 06:55] minhnh commented on #117
I think the issue is this [extra line here](https://github.com/b-it-bots/mas_domestic_robotics/blob/db9611c581f1dc5aff156ab60f224a3f7435e7e1/mdr_planning/mdr_actions/mdr_speech_actions/mdr_listen_action/setup.py#L8), which points to a non-existent folder. Should I add that to my PR, or should it be handled in a separate PR @argenos.

[2019-03-12 08:24] argenos commented on #117
Its own PR would be best!

[2019-03-12 08:45] argenos commented on #111
The first 3 bullets sound to me like a perfect use for FTSM. I agree the second part belongs on a different PR (and skill).

[2019-03-12 08:50] argenos commented on #104
Is there a script for training already? If not, I’d suggest opening an issue specifically for that in mas_perception and linking it here.

[2019-03-12 11:47] minhnh commented on #104
@ErickKramer was supposed to make the training script with the tutorial which may possibly use the [common data interface I created](https://github.com/minhnh/dataset_interface). I can create an issue and assign it to him.

[2019-03-12 13:52] argenos commented on #104
Yeah, go ahead!

[2019-03-14 21:33] #122 closed, assigned to nobody

[2019-03-14 21:34] #117 closed, assigned to nobody

[2019-03-15 15:46] argenos opened #126 "Planning actions for new robocup scenarios"
For some of the SDP projects, I would like students to develop missing skills or actions. Could you please add a list here of the things you have come up so far? Please add to which scenarios they belong in case we have too many, this will help with prioritization.

Related to #105, #106, #107, #108, #110.

[2019-03-15 15:47] argenos commented on #116
I've opened #126 to discuss the missing planning actions.

[2019-03-16 14:06] robertocaiwu commented on #107
Related to the **Take out the garbage** task [#110]:

- [ ] Component to turn head and /or body to a certain point [#111]
- Perception
    - [ ] Recognize if object is a bin [#112]
    - [ ] Recognize if there is a lid on the bin[#113]
    - [ ] Recognize if the bin is empty or not [#114]
    - [ ] Detect where to grasp the trash bag or other objects from. [#115]
- Manipulation
     - [ ] Grasp ve

[2019-03-16 14:07] robertocaiwu commented on #126
Related to the **Take out the garbage** task [#110]:

- [ ] Component to turn head and /or body to a certain point (LookAtAction)[#111]
- Perception
    - [ ] Recognize if object is a bin [#112]
    - [ ] Recognize if there is a lid on the bin[#113]
    - [ ] Recognize if the bin is empty or not [#114]
    - [ ] Detect where to grasp the trash bag or other objects from. [#115]
- Manipulation

[2019-03-16 16:52] alex-mitrevski commented on #110
@robertocaiwu Grasp verification can in theory be done (there is code for that in the `mas_hsr_gripper_controller` package in the `mas_hsr` repository), but the verification depends on an object-specific threshold. This will thus need some testing.

[2019-03-20 17:21] argenos commented on #126
@rhasel4s @henrikschnor @PatrickNa the deadline for this is Friday, has there been any progress? I still need to work on the proposals a bit after you guys suggest them.

[2019-03-20 17:36] henrikschnor commented on #126
I'm not sure which scope those SDPs are supposed to have, but here are some things that need to be done for "serving drinks":
- Detect all people in a room
- Detect faces of (detected) people and remember them (there might already be some code for the detection part [here](https://github.com/b-it-bots/mas_domestic_robotics/tree/devel/mdr_planning/mdr_scenarios/mdr_demos/mdr_demo_describe_people))

[2019-03-21 10:01] rhasel4s commented on #126
Hey, besides the actions or skills we could need a JSHOP2 dispatcher for ROSPlan. At the moment we are using the standard dispatcher which has a slightly different plan representation. At the moment shop is modified to generate the plan in the same way the popf planner does.

Otherwise @henrikschnor @robertocaiwu and @PatrickNa have already defined the skills needed for the tasks.

I think at one

[2019-03-21 10:35] argenos commented on #126
Let's add that to this discussion thread, so I can refer back to it when writing the proposals.
Could you maybe add those for the actions that are already listed?

[2019-03-21 14:37] minhnh commented on #111
Here's a [helpful post](https://gamedev.stackexchange.com/questions/79172/checking-if-a-vector-is-contained-inside-a-viewing-frustum) on getting the distances from a 3D point to each plane of the camera's frustum. I believe the distances would be then in world coordinates (e.g. meters).

[2019-03-24 12:31] rhasel4s commented on #126
| Operator | Precondition | Delete | Add |
| --- | --- | --- | ---  |
|move_base | (waypoint ?to) <br/>  |  (robot_at ?robot ?from)   |  (robot_at ?robot ?to)   |
| open_door | (robot_at ?robot ?waypoint) <br/> (door ?door) <br/> (door_status ?door closed) <br/>      |  (door_status ?door closed)     |  (door_status ?door open)     |
| perceive_plane | (robot_at ?robot ?waypoint) <br/>(belongs_to

[2019-03-24 13:08] alex-mitrevski commented on #126
@rhasel4s The client of `perceive_plane` does more than what you have in the table: for each object, an `on(object, plane)` and `object_category(object, category)` predicates are added + the plane is marked as `explored`. Also, before perceiving, all objects on the plane are deleted from the KB. Implementation [here](https://github.com/b-it-bots/mas_domestic_robotics/blob/devel/mdr_planning/mdr_ac

[2019-03-25 09:21] rhasel4s commented on #126
ok, i add those things, we should then progress with the explore and locate behaviour.

- explore - would be exploring something unknown like a room, piece of furniture or whatever.

- locate - would be identifying an object at specific location.

so explore would mostly also include the locate action, but the locate action can be used when we  already know the location but not the exact position.

[2019-05-07 23:23] ejichen opened #140 "README has broken link"
## Context
https://github.com/b-it-bots/mas_domestic_robotics#getting-started

Has a link:

The section does say "b-it-bots mebers" but I ( @moriarty ) still think that the file which is being linked to should be open as it helps anyone who might want to re-use this code.

## Expected Behavior
The link to work

## Actual Behavior
The link doesn't work

## Possible Fix
make that repo open source, o

[2019-05-08 01:10] moriarty commented on #140
Just confirming, I filed that ticket from someone else's computer.

I don't see anything in the dev-env repo which is worth keeping private, it's basically a newer version of 3 other repos, which it cites at the bottom of it's readme.

[2019-05-08 01:12] moriarty commented on #140
For Context, I've asked @ejichen to investigate two open-sourced approaches to solving a task.

So she was trying to get something from here running on her robot.

[2019-05-08 01:14] moriarty commented on #140
https://github.com/b-it-bots/dev-env/issues/12 this can be closed as a duplicate. I knew I ran into this issue before.

[2019-05-08 06:47] argenos commented on #140
I still haven’t had the chance to clean up that repo, which is why it’s still private. I’ll give access to @ejichen later today.

FWIW the repo is unfortunately not updated with all the dependencies, so PRs are welcome if you run into problems.

[2019-05-08 17:22] ejichen commented on #140
Thank you for giving me access!

[2019-05-08 18:54] argenos opened #141 "Using the web-based socket for HRI"
Could we integrate the code we used for the screen during `where is this?` into this repository? Or can we get a fork from the `RoboLand` repo? I think that visual information on the robot is super useful, and we are currently wasting the screen.

[2019-05-08 18:57] argenos opened #142 "Integrating operator detection into where is this"
I believe we already had a state for this, but it would be nice to test this thoroughly and maybe make the whole scenario a bit more human-friendly.

[2019-05-08 19:00] argenos opened #143 "Testing find my mates"
This one doesn't really require further description, but @PatrickNa you can add any further things that remained as todos.

[2019-05-08 19:02] argenos commented on #105
This issue was solved in dfe82897177ddc096dad040a25198d387688fc0f and further improved in 986830ff7960adf5249417778c9f158e7f918059

[2019-05-08 19:02] #105 closed, assigned to argenos, rhasel4s, PatrickNa

[2019-05-08 19:08] argenos commented on #107
There is already some progress in https://github.com/b-it-bots/mas_domestic_robotics/commit/6d080225d9afeb48eb9d690d346e25ac58d3305e, but the final scenario tested in German Open is not pushed. @robertocaiwu can you make sure we get the latest changes from the robot?

[2019-05-08 19:15] #140 closed, assigned to nobody

[2019-05-09 08:49] argenos opened #144 "“What else do you know?” Scenario - Analysis mode"
Inspired by the “where is this?” task, I think it would be really interesting to stress test our NLP by asking the robot questions about **all** the knowledge we have modeled. (Think of analysis mode in Westworld).

This can be built in stages and members can add the different things they’re working on to this “Analysis mode”.

Based on the last few days, things I can think of:
- Things about the

[2019-05-09 08:51] argenos commented on #144
@alex-mitrevski @PatrickNa this might be a nice SDP project for WS19 if we don’t want to tackle this ourselves

[2019-05-09 12:13] alex-mitrevski commented on #144
I suppose it should be doable in a semester-long project - at least a basic version of the system. We should however possibly try to decompose it into clear steps that students should follow; otherwise, they might easily get lost in details.

[2019-05-09 12:14] alex-mitrevski commented on #144
In general, I like the idea a lot though.

[2019-05-09 18:40] argenos commented on #144
Yeah, definitely! If the team doesn’t want to, I’ll take care of phrasing and sending it to @sthoduka

[2019-05-14 13:52] robertocaiwu commented on #141
The one from roboland is very amy specific. I created a new repo on my git for the GO. I would need to clean it up and remove GO specific stuff. Also, we could develope it further and add more things.

Link to the repo: https://github.com/robertocaiwu/mas_web_interface

[2019-05-14 14:22] PatrickNa commented on #141
Yes. I will create a repository for that and we start with what we have developed in Magdeburg, but should clean it and improve it quickly.

Suggestion from Alex and me regarding the repository name: `mas_hri_interface`

[2019-05-14 15:40] argenos commented on #141
should we fork this one and start from there? or is it really better to start from scratch?

[2019-05-14 19:02] PatrickNa commented on #141
Can we fork, but rename it? If yes, then we should do it. Otherwise I would prefer the more general name for the repository. In that case I would ask Roberto to push to the newly created repo and we continue the work from there.

[2019-05-14 19:05] #141 closed, assigned to PatrickNa, robertocaiwu

[2019-05-22 12:11] minhnh opened #152 "Refactor mdr_find_people"
As discussed in #145, we need further discussion in how to handle `mdr_find_people`.

[2019-05-22 18:38] argenos commented on #78
This is implemented in #145 , correct?

[2019-05-22 18:38] argenos commented on #83
Is this addressed in #145 ?

[2019-05-22 18:39] argenos commented on #84
This was solved in #85 ?

[2019-05-22 19:04] #116 closed, assigned to minhnh, alex-mitrevski, ErickKramer, rhasel4s, PatrickNa, robertocaiwu

[2019-05-22 19:04] #126 closed, assigned to rhasel4s, PatrickNa, robertocaiwu, henrikschnor

[2019-05-23 08:46] argenos commented on #103
Can you update or close this issue please?

[2019-05-23 08:52] PatrickNa commented on #103
Will do. Probably this afternoon.

[2019-05-23 08:54] argenos commented on #109
Can you please update the to-dos for this issue?

[2019-05-23 08:55] argenos commented on #91
Can you please update or close this?

[2019-05-23 08:56] PatrickNa commented on #84
I will check.

[2019-05-23 08:58] argenos commented on #102
This can be closed, right?

[2019-05-23 08:59] PatrickNa commented on #83
At this point I'm not sure how relevant this is, anymore. I will close it for now, since we are able to deal different use cases (see RoboCup scenarios).

[2019-05-23 08:59] #83 closed, assigned to ErickKramer, PatrickNa, robertocaiwu, henrikschnor

[2019-05-23 09:02] alex-mitrevski commented on #91
I'm closing it since the action has been modified to return a "failed" result if a plane is not detected.

[2019-05-23 09:02] #91 closed, assigned to minhnh

[2019-05-23 09:03] argenos commented on #107
Please update or close this

[2019-05-23 09:04] PatrickNa commented on #102
In my opinion this is still an open issue. Current state: We are using Ubuntu's echo cancelling setting and analyze the recognized speech further. By doing this we are able to get the intention for of the user, but this holds true for restricted scenarios, only (e.g. "where is this"). If we would like to have a more open conversation we need to rely more on what has been recognized and therefore w

[2019-05-23 09:05] #78 closed, assigned to PatrickNa, robertocaiwu

[2019-05-23 10:33] argenos commented on #97
@minhnh can this be closed?

[2019-05-23 13:15] argenos opened #153 "Review CI in domestic repositories"
Travis is failing to catch some of the failing builds. After the refactoring, it makes sense to take a look at how the Travis and Docker setups were made, and improve the workflow.

The refactoring helped to reduce the build time for about 10 minutes, but there are still improvements that can be made:
* on deployment, the docker image is being built from scratch
* publishing images for long-term b

[2019-05-23 13:47] minhnh commented on #97
A solution was added in #145, but apparently is not working properly. I need to test on the robot. I will close once that's done.

[2019-05-23 13:59] argenos commented on #71
Can this be closed?

[2019-05-23 14:00] argenos commented on #71
Related PRs: #92 #85 #137

[2019-05-23 14:03] argenos commented on #70
Probably related to #153

[2019-05-23 14:04] PatrickNa commented on #71
We have RASA implemented, but the I'm not sure about @ErickKramer 's RnD work...

[2019-05-23 14:05] argenos commented on #66
I will close this for now.

[2019-05-23 14:05] #66 closed, assigned to minhnh

[2019-05-23 14:10] argenos commented on #7
I think this can be closed, right?

[2019-05-23 14:11] #9 closed, assigned to alex-mitrevski

[2019-05-23 14:13] #47 closed, assigned to nobody

[2019-05-23 14:28] ErickKramer commented on #71
Mbot is currently implemented on Lucy and the classifier for GPSR category 1 and 2 is there as well. The only thing missing is to put it on mas_domestic repository.

[2019-05-23 14:31] argenos commented on #71
Isn't this what you added in #92? Or what is missing?

[2019-05-23 14:36] ErickKramer commented on #71
No, that one is an interface that collects the output of mbot and execute an action (at the moment, just navigation).

It's missing everything that it's inside the Mbot folder (physically on Lucy) and to add my dataset to the dataset repository you mentioned last time.

[2019-05-23 14:39] argenos opened #155 "Integration of mbot NLU"
From #71:

[2019-05-23 14:39] argenos commented on #71
Closed in favor of #155

[2019-05-23 14:39] #71 closed, assigned to ErickKramer

[2019-05-23 14:48] robertocaiwu commented on #107
Duplicate issue [#110]

[2019-05-23 14:48] #107 closed, assigned to robertocaiwu

[2019-05-23 16:18] minhnh commented on #97
Fixed issue in launch file with 236ffd3. I will close this now.

[2019-05-23 16:18] #97 closed, assigned to minhnh

[2019-05-24 05:06] argenos commented on #81
An initial version of this is being added in #145 from the [topological_map_ros](https://github.com/b-it-bots/topological_map) package

[2019-05-24 05:07] #81 closed, assigned to argenos

[2019-05-24 06:09] alex-mitrevski commented on #98
What do you mean by "templates?"

[2019-05-24 07:11] minhnh commented on #98
I am not sure at the moment, since the code has changed quite a bit since February. Do we currently have abstractions for knowledge base interactions for the action clients and action servers?

[2019-05-24 07:28] alex-mitrevski commented on #98
Obviously. The [action client base class](https://github.com/b-it-bots/mas_domestic_robotics/blob/devel/mdr_planning/mdr_rosplan_interface/ros/src/mdr_rosplan_interface/action_client_base.py) has an instance of the knowledge base interface (an instance to the ontology interface was also added during GO - currently on the `go-2019` branch). Is this what your questions is about?

The [action FTSM ba

[2019-05-24 07:45] alex-mitrevski commented on #7
Yeah, I'll close it now.

[2019-05-24 07:45] #7 closed, assigned to alex-mitrevski

[2019-05-24 08:55] minhnh commented on #98
Ok then the abstraction will be the templates then. I will close  this.

[2019-05-24 08:55] #98 closed, assigned to nobody

[2019-05-24 12:57] minhnh opened #158 "[manipulation] move DMP parameters to a configuration file"
Currently, a lot of the parameters in `mdr_planning/mdr_actions/mdr_manipulation_actions/mdr_move_arm_action/ros/src/mdr_move_arm_action/dmp.py` are hardcoded. They should be moved into a configuration file.

[2019-05-24 17:48] argenos opened #167 "Clean up mdr_speech_matching"
The current version of the package contains comments in the `package.xml` and `CMakeLists.txt` files. These files also need to be updated to handle the dependencies correctly.

[2019-05-25 11:08] argenos commented on #103
I'll close this for now. If need be, we can open a new issue.

[2019-05-25 11:08] #103 closed, assigned to PatrickNa

[2019-05-25 11:09] argenos commented on #104
@minhnh we can close this, right?

[2019-05-25 12:00] argenos opened #170 "Refactoring the picking and placing actions"
The following actions need to be rewritten to avoid code duplication:
* `mdr_behaviours/place.py`
* `mdr_behaviours/place_based_on_category.py`
* `mdr_place_action/action_states.py`
* `mdr_pickup_action/action_states.py`

See [here](https://sonarcloud.io/dashboard?id=mas_domestic_robotics) for more information.

[2019-05-25 12:03] argenos opened #171 "Clean up of the mas_hri_behaviours"
~~The current version of the package contains comments in the package.xml and CMakeLists.txt files.~~
These files also need to be updated to handle the dependencies correctly.

[2019-05-25 12:04] argenos opened #172 "Clean up of mdr_find_people"
The current version of the package contains comments in the package.xml and CMakeLists.txt files. These files also need to be updated to handle the dependencies correctly.

[2019-05-25 12:05] argenos commented on #167
There are also a few files that are hardcoded directly in the node, which should be changed to parameters and added to the launch files.

[2019-05-25 12:07] argenos commented on #171
This also means moving the models to the [mas_models](https://github.com/b-it-bots/mas_models) repository.

[2019-05-25 12:10] argenos opened #173 "Clean up the mdr_listen_action"
The launch file still contains some HSR-specific topics.

[2019-05-25 12:15] argenos opened #174 "Clean up of where is this"
The rasa models we are loading are right now hard coded, see [this](https://github.com/b-it-bots/mas_domestic_robotics/blob/devel/mdr_planning/mdr_scenarios/mdr_robocup_tasks/mdr_where_is_this/common/model/current/nlu/checkpoint) for an example. It probably makes sense to move the models to `mas_models` as well.

@alex-mitrevski @minhnh thoughts?

[2019-05-25 12:19] argenos commented on #172
This topic should be passed as an argument https://github.com/b-it-bots/mas_domestic_robotics/blob/fb37f5591ce8d83c3f279f3bd9e052741aca7581/mdr_planning/mdr_actions/mdr_perception_actions/mdr_find_people/ros/src/mdr_find_people/action_states.py#L18

And we need an updated launcher for `mas_hsr` which then modifies that topic to the HSR-specific one.

[2019-05-25 12:19] minhnh commented on #174
There's a [utility function](https://github.com/b-it-bots/mas_perception_libs/blob/055a1e44984dc829fc4b1ea4e03b81eb072e32f7/ros/src/mas_perception_libs/utils.py#L54) that may make it easier to get files from packages' relative paths. We can put these type of files in the model repository as a ROS package and access them this way.

[2019-05-25 12:20] argenos commented on #174
Sounds good to me, can you open a PR for that?

[2019-05-25 12:23] minhnh commented on #104
Yes. Documentation for training is available after b-it-bots/dataset_interface#1 is merged.

[2019-05-25 12:24] argenos opened #175 "Migration of packages to Python 3"

[2019-05-25 12:24] argenos opened #176 "Setting up kinetic CI with Python 3"

[2019-05-25 12:39] alex-mitrevski commented on #170
I wouldn't want to touch these at the moment since any refactoring has implications on the [action execution library](https://github.com/b-it-bots/action-execution) and the implementation of actions in general. I thus suggest we close this issue for the time being.

[2019-05-25 13:27] #104 closed, assigned to minhnh, ErickKramer, PatrickNa, robertocaiwu

[2019-05-25 13:31] #170 closed, assigned to nobody

[2019-05-25 14:07] argenos commented on #171
Some clean up was already done in d3d0caa859633baaabd93582f2c7346a71a26cfc

[2019-05-25 14:11] alex-mitrevski commented on #172
One other thing that needs to be done is reimplementing the action using FTSM.

[2019-05-25 14:24] minhnh commented on #174
Do you mean to upload a model? Shouldn't @ErickKramer handle this?

[2019-05-25 14:27] minhnh commented on #172
duplicate #152?

[2019-05-25 14:31] alex-mitrevski commented on #172
I don't think this is a duplicate. This issue is about small refactoring of the existing package; your issue is about the logic behind the action itself, which I see as considerably more involved.

[2019-05-25 15:38] argenos commented on #174
I meant the utility function. Need a proposal on how to handle it, e.g. do we want to make `mas_models` dependent on `mas_perception_libs`?

[2019-05-25 15:48] alex-mitrevski commented on #174
I don't think being dependent on `mas_perception_libs` makes sense in that context. It would be better if such utility functions are stored elsewhere, perhaps in a dedicated repository, since they could be useful in different places (e.g. we need something similar in the execution manager for handling the state machine hierarchies in the code rather than through launch files).

Edit: Perhaps we co

[2019-05-25 16:30] argenos opened #177 "Dependencies to mcr_arm_cartesian_control"
Right now since the dependency to `mcr_arm_cartesian_control` means, that we need to clone all of `mas_common_robotics`. Refactoring this would make the migration easier and  would shorten the build times in CI.

[2019-05-25 16:36] argenos opened #178 "Dependency to mcr_follow_person and mcr_algorithms"
Right now `mdr_follow_person` depends on `mcr_follow_person` and `mcr_algorithms. That means that we need to clone all of `mas_common_robotics`. Refactoring this would make the migration easier and to shorten the build times in CI.

[2019-05-25 21:48] minhnh commented on #174
I'm for a small utility repository for this kind small functionalities. We should try to keep it compact and as a single package though, to avoid another `mas_common_robotics`. `mas_utils`? `mas_tools`?

[2019-05-26 09:47] argenos commented on #174
I’m in favor of that. Any preference on the name?

[2019-05-26 10:47] alex-mitrevski commented on #174
I have a small preference for `mas_tools`, but only because I'm biased by `black-box-tools`. :)

[2019-05-26 14:30] minhnh commented on #174
Either way is fine for me. I would also want to migrate some of the utilities from [`dataset_interface` repo](https://github.com/minhnh/dataset_interface/blob/feature/data_augmentation/utils.py) there for reuse.

[2019-05-26 15:42] argenos commented on #174
Here it goes [mas_tools](https://github.com/b-it-bots/mas_tools)

[2019-05-26 18:20] minhnh commented on #174
should it be a ROS package? I suppose there's the possibility for it to contain both C++ and Python.

[2019-05-26 18:35] alex-mitrevski commented on #174
I'd say yes, mostly because ROS deals with package paths nicely.

[2019-05-27 11:21] minhnh commented on #174
you can now access the function with `from mas_tools.ros_utils import get_package_path`

[2019-05-27 11:38] #173 closed, assigned to PatrickNa, robertocaiwu

[2019-05-31 04:32] #89 closed, assigned to PatrickNa

[2019-05-31 08:09] argenos commented on #174
@ErickKramer do you have an estimated date on when you could push the fixes mentioned here? For now this seems to be one of the blocking issues for #168

[2019-05-31 08:19] ErickKramer commented on #174
Yes, I'll get it done today.

[2019-05-31 09:49] ErickKramer commented on #174
The checkpoint file is automatically generated by the training script of rasa. I am almost certain that it is not needed for the implementation part because it would've complained already when I put the model folder in lucy.

@argenos should I just move everything the way it currently is inside  [mas_models](https://github.com/b-it-bots/mas_models) under a rasa_nlu/where_is_this folder?

[2019-05-31 10:03] argenos commented on #174
Yes, but make it a ROS package, I would say: `rasa_nlu_models/common/where_is_this`. Then edit the `mdr_where_is_this` package to load the models from the right place.

[2019-05-31 10:05] argenos commented on #174
@minhnh can give you further info on how to use the utilities from `mas_tools`

[2019-05-31 10:20] alex-mitrevski commented on #174
Minh is at lunch at the moment, so I'll answer. Currently `mas_tools` only has a single script inside the package - [`ros_utils`](https://github.com/b-it-bots/mas_tools/blob/master/src/mas_tools/ros_utils.py), which exposes a single function, namely `get_package_path` (the documentation has an example call).

Basically, if `rasa_nlu_models` is a package, then you can find the absolute path of the

[2019-06-04 12:12] argenos commented on #174
Is this done? Was there a different PR for this issue other than the one that was closed?

[2019-06-04 12:15] argenos commented on #152
From #168: The function to find out whether people are inside the arena should be refactored to get this from the topological map. This part can probably be assigned to one of the new members.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-04 12:43] minhnh commented on #152
After a quick discussion with @henrikschnor today, I think we can consolidate the different person recognition functionalities into a people recognition action server.

* would combine `mdr_detect_person`, `mdr_recognize_emotion_action`, `mdr_gender_recognition`
under `mdr_planning/mdr_actions/mdr_perception_actions/` into one action
* detection from RGB images:
  * face detection: either with [Ha

[2019-06-04 12:52] alex-mitrevski commented on #152
At a quick glance, this seems like a solid improvement, particularly because the gender and emotion recognition actions were not really actions in the first place.

I'd thus say go for it.

P.S. You might want to think about actual person recognition as well, namely matching the detected people with known names. I see the `name` field is already there in the proposed `Person` message, but then a r

[2019-06-04 12:57] minhnh commented on #152
Good point on the name model. Edited! @robertocaiwu has also expressed interest in working on this issue.

[2019-06-04 16:52] henrikschnor commented on #152
A complete rewrite using things from `mdr_find_people` and the other packages is probably reasonable. However I won't be available until the end of next week, so @robertocaiwu feel free to start already and let me know it goes.

[2019-06-11 08:03] argenos commented on #174
@ErickKramer @alex-mitrevski shall I close this?

[2019-06-11 08:06] argenos commented on #176
Based on my tests with docker this doesn't seem to be an issue anymore. Will close for now.

[2019-06-12 07:31] alex-mitrevski commented on #174
Yeah, I think so.

[2019-06-12 08:10] argenos commented on #171
@ErickKramer if you have some time this week, could you help out with this? Then we can finally merge #168

[2019-06-12 08:29] ErickKramer commented on #171
Yes, I will work on this on Friday. @argenos

[2019-06-12 17:36] #174 closed, assigned to ErickKramer

[2019-06-14 10:50] #108 closed, assigned to nobody

[2019-06-14 10:51] #109 closed, assigned to henrikschnor

[2019-06-14 10:51] #106 closed, assigned to nobody

[2019-06-15 07:16] alex-mitrevski commented on #43
I'll close this issue since it was pretty MoveIt!-specific.

[2019-06-15 07:16] #43 closed, assigned to nobody

[2019-06-15 07:19] alex-mitrevski commented on #158
This issue was addressed by PR https://github.com/b-it-bots/mas_domestic_robotics/pull/192

[2019-06-15 07:19] #158 closed, assigned to alex-mitrevski

[2019-06-15 07:34] alex-mitrevski commented on #175
I can't recall if there was a discussion about this, but I think we should treat this issue independent of the Melodic migration for the time being. Because of ROPOD, we cannot (fully) migrate to Melodic now (i.e. we need our development machines to have Ubuntu 16.04/ROS kinetic), but most of the code can be migrated to Python 3 anyway since ROS kinetic works fine with Python 3 (with the exception

[2019-06-15 08:25] argenos commented on #175
This is only an issue for the staff, the rest of the team could migrate. We could, of course, try to make our kinetic and melodic branches compatible, I’m just not sure what the current issues are of setting up kinetic with python 3. What about using docker?

[2019-06-15 10:26] #171 closed, assigned to ErickKramer, PatrickNa

[2019-06-15 14:17] alex-mitrevski commented on #172
The cleanup has already been done (commits https://github.com/b-it-bots/mas_domestic_robotics/commit/52e0c8eb2c54966d5dfa2f3f2eabf7bbc67bfc73, https://github.com/b-it-bots/mas_domestic_robotics/pull/190/commits/f4b9b8b61d63be0c60966572a30f75060d744e19, and https://github.com/b-it-bots/mas_domestic_robotics/pull/193/commits/9ea3c8e355160ec4731471e5049b1604a51c9c4b), so I'll close the issue. The mig

[2019-06-15 14:17] #172 closed, assigned to henrikschnor

[2019-06-18 08:07] alex-mitrevski commented on #175
As I said, I've only had problems with a few packages (I forgot to mention OpenCV in the above list, which is also problematic); everything else is working fine with Python 3.

You mean docker for melodic, right?

[2019-06-18 10:30] argenos commented on #175
Alright, based on that we would need:
- a script to setup Kinetic with python 3 to make it easier for everyone in the team to switch
    - the opencv issues already came up in https://github.com/b-it-bots/mas_perception_libs/issues/5 but maybe @minhnh can update us on the status
- someone to setup the CI to use Kinetic with Python3 (using the script above?)

Yes, *we* (the staff) could use docker

[2019-06-18 11:54] minhnh commented on #175
In general, OpenCV shouldn't be an issue. The big change was `indigo`->`kinetic` since they went from OpenCV 2 to 3. `kinetic`->`melodic` is just OpenCV 3. I haven't got a chance to add tests for `cv_bridge`, however.

[2019-06-18 12:18] argenos commented on #175
I reopened #176 and updated it to `kinetic`, and I can take care of it once someone creates the script.

[2019-06-18 12:26] alex-mitrevski commented on #175
@minhnh I was referring to Python 3 on `kinetic` when I said there are problems with OpenCV; `kinetic` to `melodic` might not be a problem.

[2019-06-18 12:30] argenos commented on #176
Reopened to address the migration to Python 3 for `kinetic`.

[2019-06-30 19:26] argenos commented on #152
This sounds good! Can we find a way to split this issue so both @robertocaiwu and @henrikschnor can work in parallel?

[2019-06-30 19:29] argenos commented on #143
@robertocaiwu could you help us out with running this test (maybe with the help of @henrikschnor if he has some available time during exam season?)?

The important thing out of this is finding out already things that don't work or need to be updated to work on the lab instead of GO.

[2019-06-30 19:30] argenos commented on #26
Should this be closed in favour of #152?

[2019-06-30 19:33] #167 closed, assigned to PatrickNa

[2019-06-30 19:35] argenos commented on #84
I'll close this for now. We can reopen if it hasn't been solved.

[2019-06-30 19:35] #84 closed, assigned to PatrickNa, henrikschnor

[2019-06-30 19:40] #25 closed, assigned to argenos

[2019-07-01 09:50] argenos commented on #152
After going through the rules again, there are three functionalities related to this: 1) the perception related part of detecting the person,  2) perception related part of recognition of different stuff and 3) the speech part of providing the description.
I'd say that during the implementation we should be a bit careful of making this modular, in some cases we may not want to do all the above act

[2019-07-01 10:29] minhnh commented on #152
sure I'll work on this later this week

[2019-07-01 11:06] minhnh commented on #26
A unique discussion here is the mention of Siamese networks for learning new faces, which is a feature for the person identity model. The other issue deals with refactoring and architecture.

[2019-07-05 08:04] PatrickNa opened #196 "Load topological relationships from configuration files."
**Is your feature request related to a problem? Please describe.**
The existing code has been written for the scope of the "Where is this?" scenario (GermanOpen 2019). At this point a working solution was the most important point and not much effort has been put into making it flexible considering various programming patterns.
Therefore the topology is partially hard coded in the executing script.

[2019-07-05 08:33] argenos opened #197 "Improvements to "where is this?""
- load topological map from configuration files - see https://github.com/b-it-bots/topological_map/issues/1
- define an ontology for our lab - see https://github.com/b-it-bots/mas_knowledge_base/issues/6
- define a topology for our lab - see https://github.com/b-it-bots/topological_map/issues/6

[2019-07-05 15:54] alex-mitrevski opened #198 "Moving the navigation goals to the ontology"
Since navigation goals can be considered encyclopedic information that is currently stored in YAML files (e.g. [here](https://github.com/b-it-bots/mas_domestic_robotics/blob/kinetic/mdr_environments/brsu-c069/navigation_goals.yaml)), it makes sense to consider storing the information in the ontology instead in order to centralise the knowledge in one place. An alternative to storing the poses in t

[2019-07-08 08:11] argenos commented on #198
I'll also draft the changes for moving them to the topological map

[2019-07-11 15:34] alex-mitrevski opened #199 "Fix place action name in place client"
To match the name case in the [action execution ontology](https://github.com/b-it-bots/action-execution/blob/master/action_execution/ontology/actions.owl), which uses camel case starting with a capital letter for the action names, the names of the action in the [place client](https://github.com/b-it-bots/mas_domestic_robotics/blob/devel/mdr_planning/mdr_actions/mdr_manipulation_actions/mdr_place_a

[2019-07-12 14:21] ErickKramer opened #201 "Upgrade rasa nlu"
**Is your feature request related to a problem? Please describe.**
* Recently, rasa got a major upgrade and merged rasa_core and rasa_nlu into a single library called rasa.
* Models trained in the new version of rasa (1.1.5) cannot be loaded into the older version of rasa currently install in lucy (rasa_nlu 0.14.0).

* New version of rasa does not support python 2.7 [mentioned here](https://github

[2019-07-12 14:44] argenos commented on #201
This is related to #175 and #176

@PatrickNa @alex-mitrevski who is taking care of creating the script to test python3 with `kinetic`? I believe in #175 no one volunteered.

[2019-07-15 09:16] robertocaiwu commented on #143
I met with @henrikschnor  and we identified a few problems when trying to run this scenario. Since issues/ pull request have been raised, I will link them:

- [x] Speech models was not pointing to the correct directory. Solved [#195]
- [ ] NLU Rasa models for find my mates is not present. (needed for "find" intend and for names and description of persons) [b-it-bots/mas_models/issues/5]
- [ ] Find

[2019-07-15 12:51] alex-mitrevski commented on #143
@AhmedFaisal95 and I will need to work on the people finding action on Friday/Saturday; this is related to his R&D, but we'll tell you how it goes (and we'll fix any issues as we face them).

[2019-07-24 09:21] argenos opened #202 "Migration to melodic"
I've opened a different issue from #175 since I don't want to mix things up.
Since I had to set up 18.04 on my laptop, I gave it a try with our repos. One thing I noticed, is that it seems there are no packages in bionic for the HSR. Can someone else double-check?

I have an e-mail where they say they support 19.04, but nothing for 18.04. If that's the case, melodic may be out of the question.

[2019-07-24 11:16] minhnh commented on #202
Even the update manual for 19.04 only says it works with ROS kinetic, so I guess melodic is not yet supported by Toyota. It may make sense to ask them directly what the timeline for this upgrade is.

[2019-07-24 15:18] moriarty commented on #202
It’s possible to write Kinect/Melodic compatibles code- MoveIt is Kinetic/Melodic compatible.

Just build and test master on both versions.

If you want to run Melodic/Kinetic mixed, then you can do that with Docker, as long as the msgs haven’t changed between versions, and most the standard msgs haven’t changed.

[2019-07-24 15:27] moriarty commented on #202
19.04 isn’t a targeted version of Ubuntu for any ROS release.

http://www.ros.org/reps/rep-0003.html#kinetic-kame-may-2016-may-2021

The decision was made to only target LTS versions of Ubuntu, and ROS Noetic will be the last version of ROS1. After N-turtle everyone should switch to ROS2.

18.04 is LTS, and ROS1 Melodic / ROS2 Bouncy are both LTS.

Supporting 19.04 and Kinetic is very strange.

[2019-08-06 15:37] argenos commented on #202
Now that I'm back, I had a bit of time to look a bit more carefully. The 19.04 refers to **their** package version numbers, not the OS. As far as I could tell, they are still only supporting `kinetic`. I assume no one touched base with Toyota, so I've sent an email asking just in case.

[2019-08-21 16:07] argenos commented on #155
@ErickKramer what is missing here?

[2019-10-14 15:27] argenos commented on #175
FWIW, on an unrelated test, I ended up having to test something with opencv and python3. `cv_bridge` needs to be built with python3, e.g. see [here](https://stackoverflow.com/questions/49221565/unable-to-use-cv-bridge-with-ros-kinetic-and-python3)

[2020-01-11 10:09] #115 closed, assigned to nobody

[2020-01-11 10:09] #114 closed, assigned to nobody

[2020-01-11 10:09] #113 closed, assigned to robertocaiwu

[2020-01-11 10:09] #112 closed, assigned to robertocaiwu

[2020-01-11 10:09] #110 closed, assigned to robertocaiwu

[2020-01-11 10:12] alex-mitrevski commented on #45
A basic prototype of this has been implemented (PR https://github.com/b-it-bots/mas_domestic_robotics/pull/184). There is currently an open PR for improving various aspects of the action (https://github.com/b-it-bots/mas_domestic_robotics/pull/207). Anirudh's R&D was also dealing with this problem.

[2020-01-11 10:12] #45 closed, assigned to nobody

[2020-01-15 08:48] alex-mitrevski opened #214 "Perceive plane action failure recovery"
## Problem description

Our current implementation of the `perceive_plane` action fails in various cases (e.g. if the robot is not looking at the plane from a "correct" point of view or if there is some bad reflection at the current viewpoint). The current recovery behaviour in the action is just retrying the scan, but this is obviously insufficient for recovering from the above mentioned cases (f

[2020-02-01 11:39] alex-mitrevski commented on #202
I'll close this since it's not high on our priority list anymore.

[2020-02-01 11:39] #202 closed, assigned to minhnh, alex-mitrevski, PatrickNa

[2020-02-01 13:19] alex-mitrevski commented on #199
Resolved by https://github.com/b-it-bots/mas_domestic_robotics/pull/216

To avoid issues like this in the long run, maybe it's better to start using snake case in the ontology, although that would violate various OWL naming conventions (e.g. http://wiki.opensemanticframework.org/index.php/Ontology_Best_Practices, where the use of camel case is recommended for classes).

[2020-02-01 13:19] #199 closed, assigned to alex-mitrevski

[2020-02-01 13:22] alex-mitrevski commented on #198
I've started addressing this with https://github.com/b-it-bots/mas_knowledge_base/pull/11

It would be good to resolve https://github.com/b-it-bots/mas_knowledge_base/issues/12 before I proceed however since I wouldn't want to repeat the definitions of classes and properties in multiple ontology files.

[2020-02-05 18:29] alex-mitrevski opened #217 "Grasp verification improvements"
Continuation of https://github.com/b-it-bots/mas_domestic_robotics/issues/80

As a precursor for recovery in the `pickup` action, we need to improve the current force sensor-based grasp verification (currently used the HSR), which is not very flexible with respect to different objects. For this, we could start with some of the ideas from last semester's FDD projects:

* pull action: https://github

[2020-02-09 15:02] alex-mitrevski commented on #217
@divindevaiah made changes about this in `mas_hsr_gripper_controller`, so I'll close the issue. The new strategy compares the opening angle of the gripper before and after grasping and reports a grasp if the angular difference is larger than an experimentally determined threshold.

This seems to work well for most objects, but not for slim objects, such as a towel. For such objects, we plan to inc

[2020-02-09 15:02] #217 closed, assigned to divindevaiah

[2020-02-10 06:45] alex-mitrevski opened #218 "Pickup action recovery"
Related to https://github.com/b-it-bots/mas_domestic_robotics/issues/217

If a pickup failure is detected by the grasp verification module, the action should go into a recovery mode. The simplest form of recovery would be resetting and repeating the grasp sequence. Here, care should be taken about where the robot starts the sequence from since the base may move during grasping; in other words, the

[2020-02-13 06:08] #143 closed, assigned to PatrickNa, robertocaiwu, henrikschnor

[2020-02-13 06:09] alex-mitrevski commented on #76
I'll close this since it's not high priority at the moment.

[2020-02-13 06:09] #76 closed, assigned to PatrickNa, robertocaiwu

[2020-02-13 06:10] #142 closed, assigned to henrikschnor

[2020-02-13 06:29] alex-mitrevski opened #219 "Place action monitoring"
## Problem description

Our current [`place` action](https://github.com/b-it-bots/mas_domestic_robotics/tree/devel/mdr_planning/mdr_actions/mdr_manipulation_actions/mdr_place_action) doesn't have any monitoring and recovery behaviours, so the component always thinks that it has performed the action successfully.

We thus need to develop monitors for the action and, eventually, recovery behaviours

[2020-02-14 21:27] alex-mitrevski opened #220 "Navigation recovery"
## Short description

As some of our other actions, the `move_base` action doesn't have recovery behaviours at the moment, such that failures in the action often cause failures in subsequent actions. For instance, in a pick and place scenario, there are occasions on which the robot doesn't reach its goal, but continues with the subsequent actions (e.g. perceiving or picking/placing), thus failing

[2020-02-18 14:22] sthoduka commented on #219
Is the arm going to be moving while it's monitoring?
Some other things to keep in mind:
1. sparse optical flow is cheaper than dense optical flow but needs nice features (corners etc.) to work
2. image differencing is also a cheap alternative to OF

[2020-02-27 07:10] alex-mitrevski opened #224 "Object placing by detecting impact with the surface"
## Problem description

Related to https://github.com/b-it-bots/mas_domestic_robotics/issues/219

Our current object placing strategy, which is implemented in the [`place` action](https://github.com/b-it-bots/mas_domestic_robotics/tree/devel/mdr_planning/mdr_actions/mdr_manipulation_actions/mdr_place_action), is "blind" in the sense that the robot just moves to the desired placing pose and release

[2020-03-02 21:54] alex-mitrevski opened #225 "Selection of appropriate grasping strategies for different objects"
Our existing pickup action treats all objects equally, i.e. we don't have runtime selection of object-specific grasping strategies. The [pickup action client](https://github.com/b-it-bots/mas_domestic_robotics/blob/devel/mdr_planning/mdr_actions/mdr_manipulation_actions/mdr_pickup_action/ros/scripts/pickup_client) should thus be modified so that an appropriate grasping strategy is selected dependi

[2020-03-09 21:18] alex-mitrevski opened #226 "Creating plans for reacting to commands"
Potentially related to https://github.com/b-it-bots/mas_domestic_robotics/issues/155

Once https://github.com/b-it-bots/mas_knowledge_base/pull/16 is merged and we have a decent model of our lab, it would be good to be able to test our robot's planning capabilities by giving at least simple commands to it (e.g. bring me a bottle of water).

We could do this using Mbot or by extending the [`mdr_com

[2020-03-22 13:51] alex-mitrevski opened #228 "Compatibility of the planning domain with the ontology model"
Related to https://github.com/b-it-bots/mas_knowledge_base/issues/15 and https://github.com/b-it-bots/mas_domestic_robotics/issues/226

In order to use the knowledge from the ontology for planning, our [default planning domain](https://github.com/b-it-bots/mas_domestic_robotics/blob/kinetic/mdr_planning/mdr_rosplan_interface/config/default_domain.pddl) needs to be appropriately modified. In partic

[2020-03-26 15:43] af-a opened #230 "Reactive DMP implementation for obstacle avoidance"
## Problem description

The current DMP-based implementation of the move arm action uses open-loop, naive trajectory generation, which does not take obstacles into account. For example, if the robot attempts to pick an object off of a table, it will simply reproduce the given trajectory, regardless of whether that would cause the end-effector to collide with other obstacles on that table. This is

[2020-03-30 12:00] njanirudh commented on #230
How do we expect the robot to find the obstacle? Is it manually set?

[2020-03-30 12:19] alex-mitrevski commented on #230
For now, we assume that the scene has been perceived, so the positions and bounding boxes of obstacles are known. In the long run, we would like to react to dynamic obstacles as well.

[2020-04-06 11:53] #28 closed, assigned to nobody

[2020-04-28 15:45] af-a commented on #230
The first point was addressed in #231.

[2020-08-20 13:28] alex-mitrevski commented on #26
A Siamese network implementation was added with https://github.com/b-it-bots/dataset_interface/pull/11

Recognition based on extracted face embeddings was added with https://github.com/b-it-bots/mas_knowledge_base

I'll close the issue since these two PRs basically resolve it.

[2020-08-20 13:28] #26 closed, assigned to robertocaiwu, agrija9

[2020-10-24 06:39] alex-mitrevski opened #241 "Rewrite action launch files with arguments"
### Problem description

Most of the action launch files in `mdr_actions` are written by setting parameters directly in the `<node>` tag, which makes them hardly reusable when we write robot-specific launch files.

### Proposed solution

Rewrite the action launch files so that they accept arguments.

[2020-10-25 15:14] alex-mitrevski commented on #241
Resolved by https://github.com/b-it-bots/mas_domestic_robotics/pull/242

[2020-10-25 15:14] #241 closed, assigned to alex-mitrevski

[2020-11-18 10:29] alex-mitrevski commented on #214
Since the basic recovery has been implemented, I'll close the issue. The smarter recovery will be addressed at a later point and, as mentioned in the issue description, requires additional prerequisites to be implemented first.

[2020-11-18 10:29] #214 closed, assigned to divindevaiah

[2022-11-05 11:26] minhnh opened #260 "`mdr_move_arm_action` does not work on startup since `noetic`"
Since upgrading the HSR to `noetic`, `mdr_move_arm_action` does not work on startup. There are constant warning messages about missing joint states:
[code]

The test script fails to move the arm:
- Testing with named goal:
[code]
- Testing with pose
[code]

[2022-11-05 11:37] alex-mitrevski commented on #260
We should move this to `mas_hsr` since it's an HSR-specific issue.

[2022-11-05 11:37] #260 closed, assigned to minhnh, alex-mitrevski